.me-customerTable {
    max-width: 700px;
}

.me-indexUpdateMessage {
    max-width: 500px;
}

.me-listCustomerInfoUpdateMessage {
    max-width: 450px;
}

.me-vehicleTable {
    max-width: 900px;
<<<<<<< HEAD
}
=======
}
>>>>>>> b7b9ca805c9d57d65dc12c24780010855869ae39
